apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: ndmarket
  labels:
    app: backend
    app.kubernetes.io/name: ndmarket
    app.kubernetes.io/component: backend
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - name: http
      protocol: TCP
      port: 3000
      targetPort: 3000
      nodePort: 30080
