apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: ndmarket
  labels:
    app: frontend
    app.kubernetes.io/name: ndmarket
    app.kubernetes.io/component: frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30081
